/__pycache__
**/resultados/

!README.txt
/venv_maspy
/docs
**/artigo
**/gradicos_teste
/Trabalho_02_Aprendizado/docs/ARTIGO_SBC.md
/Trabalho_02_Aprendizado/docs/CONFORMIDADE_TRABALHO02.md
/Trabalho_02_Aprendizado/docs/DIAGRAMAS_UML.md
**/*.zip
**/analise_comparativa/
**/resultados_escalabilidade/
**/temp_configs